body {
    text-align: center;
    background-color: rgb(153, 221, 184);
}
.display {
    background-color: rgba(6, 199, 135, 0.411);
    margin: 0;
    padding: 0.75em;
}
.instructions {
    margin: 1em;
}
.names {
    padding: 3em;
    background-color: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    background-color: #ffffff9d;
    border: 5px solid #57cc99;
    min-height: 300px;
    margin: 0.5em;
}
.winner {
    padding: 3em;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    background-color: #ffffff9d;
    border: 5px solid #57cc99;
    min-height: 300px;
    margin: 0.5em;
}
.choose {
    margin-top: 2em;
}
.reset {
    margin-top: 2em;
}
h1{
    color: rgb(12, 134, 93);
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
li {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;

}
h3 {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 5em;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.form-control {
    box-shadow: 0 5px #57cc99;
}
.css-button-3d--green {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(12, 134, 93);
    box-shadow: 0 5px #1b5039;
  }
  .css-button-3d--green:hover {
    box-shadow: 0 5px #1b5039;
    top: 1px;
  }
  .css-button-3d--green:active {
    box-shadow: 0 5px #1b5039;
    top: 5px;
  }
  .css-button-3d--green1 {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: rgb(12, 134, 93);
    box-shadow: 0 5px #1b5039;
  }
  .css-button-3d--green:hover1 {
    box-shadow: 0 5px #1b5039;
  }
  .css-button-3d--green:active1 {
    box-shadow: 0 5px #1b5039;
  }
  .pick {
    margin-bottom: 2em;
  }
  #nameInput {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }